<%= form_with(model: pet) do |form| %>
  <% if pet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Nombre, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Raza, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :Nacimiento, style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>

  <br>
  <div class="field">
    <%= form.label :client_id %>
    <%= form.select :client_id, @clients.map {|client|
    [client.name, client.id] }, prompt: "Seleccione una opción..." %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
