<div id="<%= dom_id pet%>">
  <p>
    <strong>Nombre:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Nacimiento:</strong>
    <%= pet.birth_date %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= pet.dog_type %>
  </p>

  <p>
    <strong>Dueño:</strong>
    <%= pet.client_id %>
  </p>


</div>
