<p style="color: green"><%= notice %></p>
<h4>Cliente</h4>
<br>
<%= render @client %>

<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> |
  <%= link_to "Back to clients", clients_path %>

  <%= button_to "Destroy this client", @client, method: :delete %>
</div>

<br>
<h4>Mascotas</h4>

    
 <div class="container">

    <table class="table table-light bg-light table-striped">
        <thead>

            <tr>
                <th>#</th>
                <th><%=sort_link(@q, :name,"Nombre") %></th>
                <th>Altura maxima</th>
                <th>Peso maximo</th>
                <th>Visitas</th>
            </tr>
        </thead>
        <tbody>
          <% @pets.each do |pet|%>
            <tr>
              <th><%=pet.id %></th>
               <th><%=link_to pet.name, pet%></th>
               <th><%=@all.pluck(:height).max %></th>
               <th><%=@all.pluck(:weight).max%></th>
              <th><%=@all.count%></th>
            </tr>
          <%end%>
            
        </tbody>
    
 </div>

